body {
  padding-top: 60px;
}

.sticky {
	position:fixed !important;
	top: 0;
  margin-top: 50px;	
}

div.gmap img {
  max-width: none;
}

div.gmap label { 
  width: auto; 
  display:inline; 
}

td.activities ul li label {
  display: inline;
}

td.activities ul {
  list-style-type: none;  
  padding: 0px;
  margin: 0px;
}

td.activities ul li {
  display: inline;
  padding-left: 10px;
}

#wrap {
  min-height: 100%;
}

p.credit {
  margin-bottom: 0px;
}

#main {
  padding-bottom: 40px;
}

#footer {  
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;  
  line-height: 40px;
  text-align: center;
  background-color: #121212;    
}

.bs-sidenav {
  padding: 10px 0px;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.185);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.185);
          box-shadow: 0 1px 4px rgba(0,0,0,.185);
}
