body {
  padding-top: 60px;
}

div.gmap img {
  height: 100%;
  max-width: none;
}

td.activities ul li label {
  display: inline;
}

td.activities ul {
  list-style-type: none;  
  padding: 0px;
  margin: 0px;
}

td.activities ul li {
  display: inline;
  padding-left: 10px;
}

.fill{
  min-height: 100%;
  position: relative;    
}

.filler:after{
  background-color: inherit;
  bottom: 0;
  content: "";
  right: 0;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: -1;  
}