html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin: 0 0 60px;
}

.modal {
  color: #333;
}

div.privacy_info {
  margin-bottom: 20px !important;
}

div.privacy_info div {
  margin-bottom: 0px !important;
}

div.gmap img {
  max-width: none;
}

div.gmap label { 
  width: auto; 
  display:inline; 
}

td.activities ul li label {
  display: inline;
}

td.activities ul {
  list-style-type: none;  
  padding: 0px;
  margin: 0px;
}

td.activities ul li {
  display: inline;
  padding-left: 10px;
}

p.credit {
  margin-bottom: 0px;
}

.sticky {
	position:fixed !important;
	top: 0;
	margin-top: 60px;
	width:100%;
}

#space {  
  min-height: 50px;
}

#footer {  
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  background-color: #121212;    
}

.bs-sidenav {
  padding: 10px 0px;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.185);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.185);
          box-shadow: 0 1px 4px rgba(0,0,0,.185);
}

p#additional_info {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.nav-list > .approved > a,
.nav-list > .approved > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #CA9E67;
}

#nav_bar {
  height: 645px;
  overflow: auto;
}