body {
  padding-top: 60px;
  width: 100%; 
  height: 100%;  
}

.sticky {
	position:fixed !important;
	top: 0;
  margin-top: 50px;	
}

div.gmap img {
  height: 100%;
  max-width: none;
}

td.activities ul li label {
  display: inline;
}

td.activities ul {
  list-style-type: none;  
  padding: 0px;
  margin: 0px;
}

td.activities ul li {
  display: inline;
  padding-left: 10px;
}

#wrap {
  position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -46px; /* the bottom margin is the negative value of the footer's height */
}

p.credit {
  margin-bottom: 0px;
}

#push {
  height: 46px; /* .push must be the same height as .footer */
}

#footer {
  padding: 10px 0px; 
  background-color: #121212;
  vertical-align: middle;
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
}