{% extends "base.html" %}
{% load upload_tags %}
{% load l10n %}
{% load i18n %}
{% block title %}{% trans "Pictures" %} - {{ location.place_name }} {% endblock %}
{% block head %}{% trans "Pictures" %} - {{ location.place_name }} {% endblock %}
{% block content %}
<div class="container">    
    <p class="text-warning">{% trans "Cannot upload picture files named in Thai and support only PNG and JPEG files" %}</p>
    <form id="fileupload" method="post" action="./{{ location.id }}" enctype="multipart/form-data">{% csrf_token %}
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <span class="btn btn-primary fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>{% trans "Add files..." %}</span>
                    <input type="file" name="file" multiple>
                </span>
                <button type="submit" class="btn btn-success start">
                    <i class="icon-upload icon-white"></i>
                    <span>{% trans "Start upload" %}</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{% trans "Cancel upload" %}</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>{% trans "Delete files" %}</span>
                </button>
                <input type="checkbox" class="toggle" style="margin-right:10px;">
                <input type="hidden" value={{ location.id }} name="location">
                <a href="{% url location.views.rearrange_pictures_page pk=location.id %}" 
                  class="btn btn-success">
                    <i class="icon-list icon-white"></i>
                    <span>{% trans "Rearrange files" %}</span>
                </a>                
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>    
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>    
</div>

<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">


    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    
    <div class="modal-body"><div class="modal-image"></div></div>

    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="4000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>

</div>

{% upload_js %}

<script src="{{ STATIC_URL }}file_upload/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-image-gallery.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/locale.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/main.js"></script>
<script src="{{ STATIC_URL }}file_upload/js/csrf.js"></script>

{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}


