{% load l10n %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      Buddhawajana Institution | {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" type="text/css"/>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}waypoints/js/waypoints.min.js"></script> 
    <script type="text/javascript">
      $(document).ready(function() {
        var map_menu = $('#top_menu>li').first();
        var saved_class = map_menu.attr('class');
        map_menu.attr('class', $('.btn-navbar').is(':visible') ? 'active' : saved_class);
        
        $(window).resize(function() {
          map_menu.attr('class', $('.btn-navbar').is(':visible') ? 'active' : saved_class);
        });
        
        $('#en_btn').click(function(e) {
          $('#language').val('en');
        });

        $('#th_btn').click(function(e) {
          $('#language').val('th');
        });
        
      });
    </script>  
  </head>
  <body>    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{% trans 'Buddhawajana Institution' %}</a>
          <div class="nav-collapse collapse">           
            <ul id="top_menu" class="nav">
              <li class="{% if active_menu == 0 %}active{% else %}{% endif %}">
                <a href="/">{% trans 'Map' %}</a>
              </li>              
              {% if user.is_authenticated %}
                <li class="{% if active_menu == 1 %}active{% else %}{% endif %}">
                  <a href="/places/">{% trans 'My places' %}</a>
                </li>              
                <li>
                  <a href="/logout/">{% trans 'Logout' %}</a>
                </li>
              {% else %}
                <li class="{% if active_menu == 1 %}active{% else %}{% endif %}">
                  <a href="/register/">{% trans 'Register' %}</a>
                </li>
              {% endif %}                            
            </ul>
            <form class="navbar-form pull-right" 
              action="{% url django.views.i18n.set_language %}" method="post">{% csrf_token %}
              <div class="btn-group">
                <input style="height:32px;" id="th_btn" type="submit" class="btn" value="TH"/>
                <input style="height:32px;" id="en_btn" type="submit" class="btn" value="EN"/>
              </div>
              <input id="language" name="language" value="en" type="hidden" />
              <input name="next" type="hidden" value="{{ redirect_to }}" />
            </form>
            {% if not user.is_authenticated %}
            <form style="margin-right:20px;" class="navbar-form pull-right" 
              method="POST" action="/login/">{% csrf_token %}
              <input name="email" class="span2" type="text" placeholder={% trans 'Email' %}>
              <input name="password" class="span2" type="password" placeholder={% trans 'Password' %}>
              <button type="submit" class="btn">{% trans 'Login' %}</button>
            </form>
            {% endif %}
            {% if user.is_authenticated %}
              <p style="margin-right:20px;" class="navbar-text pull-right">
                {% trans 'Logged in as' %} <a href="/edit_user/" class="navbar-link">{{user.email}}</a>
              </p>
            {% endif %}            
          </div>
        </div>        
      </div>      
    </div>   
    <div id="wrap">
      <div id="main" class="container">      
        
        {% if alert_type %}
          <div class="alert {{ alert_type }} fade in">
            <a class="close" data-dismiss="alert">&#215;</a>
            <h4> {{ alert_message }}</h4>
          </div>
        {% endif %}
        
        <div class="page-header row-fluid">
          <div class="span4 pull-right hidden-phone hidden-tablet">
            <a href="#">
              <img class="media-object" src="http://watnapp.com/images/logo_header.png">              
            </a>
          </div>
          <div class="span8 pull-left span12-tablet">
            <h1 class="media-heading" style="height:80px; line-height: 80px;">
              {% block head %}{% endblock %}
            </h1>
          </div>          
        </div>        
        {% block content %}{% endblock %}
      </div>
      <div id="footer" class="muted credit">
        <div class="container" style="vertical-align: middle; margin-top:auto; margin-bottom:auto;">
          COPYRIGHT © 2012 Sutee Sudprasert All rights reserved.
        </div>        
      </div>
      
    </div>
  </body>
</html>