{% load l10n %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      Buddhawajana Institution | {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-image-gallery.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}file_upload/css/jquery.fileupload-ui.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/back_to_top.css" type="text/css"/>    
    <style type="text/css">
      .nav, .nav-header {
        font-size: 19px;
      }
    </style>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}waypoints/js/waypoints.min.js"></script> 
    <script type="text/javascript" src="{{STATIC_URL}}angular/angular.js"></script>
    <script type="text/javascript"> 
        
      angular.module('app', [])
      .config(['$interpolateProvider', function ($interpolateProvider) {
          $interpolateProvider.startSymbol('<[');
          $interpolateProvider.endSymbol(']>');
      }])    
      .directive('myRepeatDirective', function() {
        return function(scope, element, attrs) {
          if (scope.$last){
            jQuery("a.location").click(function(event) {
              event.preventDefault();
            });
          }
        };
      });
      
    
      function set_map_type(map_type) {
        $.post("/set_map_type/", {"map_type":map_type}, function(data) {
          location.reload();
        });
      }
      
      function set_sorting(sorting) {
        $.post("/set_sorting/", {"sorting":sorting}, function(data) {
          location.reload();
        });
      }
       
      $(document).ready(function() {
        var map_menu = $('#top_menu>li').first();
        var saved_class = map_menu.attr('class');
        map_menu.attr('class', $('.btn-navbar').is(':visible') ? 'active' : saved_class);
        
        $(window).resize(function() {
          map_menu.attr('class', $('.btn-navbar').is(':visible') ? 'active' : saved_class);
        });
        
        $('#en_btn').click(function(e) {
          $('#language').val('en');
        });

        $('#th_btn').click(function(e) {
          $('#language').val('th');
        });
        
        $('#road_opt>a').click(function(e) {          
          $('a>i').attr('class', '');
          $('#road_opt>a>i').attr('class', 'icon-ok');
          set_map_type('ROADMAP');
        });

        $('#terrain_opt>a').click(function(e) {
          $('a>i').attr('class', '');
          $('#terrain_opt>a>i').attr('class', 'icon-ok');
          set_map_type('TERRAIN');          
        });

        $('#satellite_opt>a').click(function(e) {
          $('a>i').attr('class', '');
          $('#satellite_opt>a>i').attr('class', 'icon-ok');
          set_map_type('SATELLITE');          
        });

        $('#hybrid_opt>a').click(function(e) {
          $('a>i').attr('class', '');
          $('#hybrid_opt>a>i').attr('class', 'icon-ok');
          set_map_type('HYBRID');          
        });

        $('#entry_sort>a').click(function(e) {
          $('a>i').attr('class', '');
          $('#entry_sort>a>i').attr('class', 'icon-ok');
          set_sorting('entry');          
        });

        $('#alpha_sort>a').click(function(e) {
          $('a>i').attr('class', '');
          $('#alpha_sort>a>i').attr('class', 'icon-ok');
          set_sorting('city');          
        });

      });
    </script>  
  </head>
  <body>    
    
    <div id="logout_alert" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans 'Logout confirmation' %}</h3>
      </div>
      <div class="modal-body">
        <p>{% trans 'Do you want to logout?' %}</p>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" aria-hidden="true" class="btn">{% trans 'Cancel' %}</a>
        <a href="/logout/" class="btn btn-primary">{% trans 'Logout' %}</a>
      </div>
    </div>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{% trans 'Buddhawajana Network' %}</a>
          <div class="nav-collapse collapse">           
            <ul id="top_menu" class="nav">
              <li class="{% if active_menu == 0 %}active{% else %}{% endif %}">
                <a href="/">{% trans 'Map' %}</a>
              </li>              
              {% if user.is_authenticated %}
                <li class="{% if active_menu == 1 %}active{% else %}{% endif %}">
                  <a href="/places/">{% trans 'My places' %}</a>
                </li>
                <li class="{% if active_menu == 2 %}active{% else %}{% endif %}">
                  <a href="/my_info/">{% trans 'My info' %}</a>
                </li>
                <li class="{% if active_menu == 3 %}active{% else %}{% endif %}">
                  <a href="/members/">{% trans 'Members' %}</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" 
                    data-toggle="dropdown">{% trans "Options" %}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">{% trans "Map type" %}</li>                    
                    <li id="road_opt"><a href="#">{% trans "Road" %} <i class="{% if map_type == 'ROADMAP' %}icon-ok{% else %}{% endif %}"></i></a></li>
                    <li id="terrain_opt"><a href="#">{% trans "Terrain" %} <i class="{% if map_type == 'TERRAIN' %}icon-ok{% else %}{% endif %}"></i></a></li>
                    <li id="satellite_opt"><a href="#">{% trans "Satellite" %} <i class="{% if map_type == 'SATELLITE' %}icon-ok{% else %}{% endif %}"></i></a></li>
                    <li id="hybrid_opt"><a href="#">{% trans "Satellite & Labels" %} <i class="{% if map_type == 'HYBRID' %}icon-ok{% else %}{% endif %}"></i></a></li>
                    <li class="nav-header">{% trans "Sorting" %}</li>
                    <li id="entry_sort"><a href="#">{% trans "Entry order" %} <i class="{% if sorting == 'entry' %}icon-ok{% else %}{% endif %}"></i></a></li>
                    <li id="alpha_sort"><a href="#">{% trans "City/Place alphabet" %} <i class="{% if sorting == 'city' %}icon-ok{% else %}{% endif %}"></i></a></li>
                  </ul>
                </li>              
                <li>                  
                  <a data-toggle="modal" data-target="#logout_alert">{% trans 'Logout' %}</a>
                </li>
              {% else %}
                <li class="{% if active_menu == 1 %}active{% else %}{% endif %}">
                  <a href="/register/">{% trans 'Register' %}</a>
                </li>
              {% endif %}                            
            </ul>
            <form class="navbar-form pull-right" 
              action="{% url django.views.i18n.set_language %}" method="post">{% csrf_token %}
              <div class="btn-group">
                <input style="height:32px;" id="th_btn" type="submit" class="btn" value="TH"/>
                <input style="height:32px;" id="en_btn" type="submit" class="btn" value="EN"/>
              </div>
              <input id="language" name="language" value="en" type="hidden" />
              <input name="next" type="hidden" value="{{ redirect_to }}" />
            </form>
            {% if not user.is_authenticated %}                        
            <form style="margin-right:20px;" class="navbar-form pull-right" 
              method="POST" action="/login/">{% csrf_token %}
              <input name="email" class="span2" type="text" placeholder={% trans 'Email' %} />
              <input type="hidden" name="this_is_the_login_form" value="1" />
              <input name="password" class="span2" type="password" placeholder={% trans 'Password' %} />
              <button type="submit" class="btn">{% trans 'Login' %}</button>
              <span><a class="btn btn-danger" href="{% url admin_password_reset %}">{%trans 'Forgot password?' %}</a></span>
            </form>
            {% endif %}
            {% if user.is_authenticated %}
              <p style="margin-right:20px;" class="navbar-text pull-right">
                {% trans 'Logged in as' %} <a href="/edit_user/" class="navbar-link">{{user.email}}</a>
              </p>
            {% endif %}            
          </div>
        </div>        
      </div>      
    </div>   

      
    <div class="container">
      {% if alert_type %}
        <div class="alert {{ alert_type }} fade in">
          <a class="close" data-dismiss="alert">&#215;</a>
          <h4> {{ alert_message }}</h4>
        </div>
      {% endif %}
      
      <div class="page-header row-fluid">
        <div class="span8 pull-left span12-tablet">
          <h1 class="media-heading" style="height:80px; line-height: 80px;">
            {% block head %}{% endblock %}
          </h1>
        </div>
        <div class="span4 pull-right hidden-phone hidden-tablet">
          <a href="#">
            <img class="media-object" src="{{STATIC_URL}}media/logo_header.png">              
          </a>
        </div>
      </div>        
      {% block content %}{% endblock %}
    </div>

    <div id="space">&nbsp;</div>
    
    {% block footer %}{% endblock %}      

  </body>
</html>