{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% block title %}{% trans "Export" %}{% endblock %}
{% block head %}{% trans "Export" %}{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
  <fieldset>
    <legend>Select fields</legend>

    <label class="checkbox">
      <input type="checkbox" value="1" name="id"> ID
    </label>
    
    <label class="checkbox">
      <input type="checkbox" value="1" name="name"> Name
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="email"> Email
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="phone"> Phone number
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="address"> Address
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="country"> Country
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="city"> City
    </label>
    
    <label class="checkbox">
      <input type="checkbox" value="1" name="skills"> Skills
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="place_name"> Place name
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="geolocation"> Geolocation
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="organization"> Organization
    </label>

    <label class="checkbox">
      <input type="checkbox" value="1" name="status"> Status
    </label>

    <br/>
    <button type="submit" class="btn">Download</button>
  </fieldset>
</form>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}