{% load l10n %}
{% load i18n %}
{% load crispy_forms_tags %}

<script type="text/javascript">
  $(document).ready(function() {
    var is_organization = $('#id_organization').is(':checked');
    if (!is_organization) {
      $('#div_id_relation').hide()
    }
    
    $('#id_organization').click(function() {
      if($(this).is(':checked')) {
        $('#div_id_relation').show();
      } else {
        $('#div_id_relation').hide();
      }
    });
    
  });
</script>


<div id="alert_not_found" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans 'Search Result' %}</h3>
  </div>
  <div class="modal-body">
    <p id="alert_text"></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</a>
  </div>
</div>

<div class="row">
  <div class="span7 span12-tablet">
    {% crispy form %}
  </div>
  <div class="span5 hidden-phone hidden-tablet">
    <form class="form-search">
      <input type="text" class="input-large search-query" placeholder="{% trans 'Find your location' %}">
      <button type="button" class="btn" onClick="search($('.search-query').val());">{% trans 'Search' %}</button>
    </form>
    {{ map_form.media.js }}
    {{ map_form.gmap }}
    <p style="margin-top:5px;" class="text-info">
        {% trans "Drag and drop the marker to pinpoint the place." %}
    </p>
  </div>
</div>

<script type="text/javascript">

  function setup_foreign_city() {
    var city = '{{ form.city.value }}' == 'None' ? '' : '{{ form.city.value }}';
    $("#id_city").replaceWith('<input id="id_city" value="'+ city + '" type="text" class="input-xlarge textinput textInput" name="city" maxlength="200">');  
  }

  var saved_select;
  $(document).ready(function() {
    saved_select = $("#id_city").parent().html();
    if ('TH' != '{{ form.country.value }}') {
      setup_foreign_city();
    }
  });

  $('.search-query').keypress(function(e) {
    if (e.which == 13) {
      e.preventDefault();
      search($('.search-query').val());
    }
  });
  
  $('#id_country').change(function () {
    if ($("#id_country option:selected").text() == 'Thailand') {
      $("#id_city").replaceWith(saved_select);
    } else {
      setup_foreign_city();
    }
    search($("#id_country option:selected").text());
  });

  var geocoder = new google.maps.Geocoder();
  
  function search(query) {
    if (query.trim().length > 0) {        
      geocoder.geocode( {'address': query}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var gmap = $('div.gmap:visible');
          var position = results[0].geometry.location;
          gmap.getMap().panTo(position);            
        } else {
          $('#alert_text').text('"'+query+'"' + ' not found')
          $('#alert_not_found').modal();
        }
      });
    }
  }
</script>

<script type="text/javascript">
    window.m_listener = {
        markerDragEnd: function(point) { 
          this.getMap().panTo(point.latLng);
        },
        mapIdle: function() {
          var gmap = $('div.gmap:visible');
          if (gmap.getMarkers()) {
            var marker = gmap.getMarkers()[0];
            gmap.removeMarkers();
            var center = gmap.getMap().getCenter();
            marker.setPosition(center);
            gmap.addMarkers([marker]);
            $('#id_latitude').val(center.lat().toFixed(5));
            $('#id_longitude').val(center.lng().toFixed(5));            
          }
        },
    };
</script>