{% load l10n %}
{% load i18n %}

<div id="info_modal" class="modal hide fade" tabindex="-1" role="dialog" 
  aria-labelledby="info_modal_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="info_modal_label"></h3>
  </div>    
  <div class="modal-body">
    <table class="table" style="border-color: blue !important;">
      <tbody>
        <tr>
          <td>
            <strong>{% trans 'Contact name' %}</strong>
            <p id="contact_name"> </p>  
          </td>
          <td>
            <strong>{% trans 'Phone number' %}</strong>
            <p id="phone_number"> </p>            
          </td>
          <td>
            <strong>{% trans 'E-mail' %}</strong>
            <p id="email"> </p>            
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <strong>{% trans 'Address' %}</strong>
            <p id="address"> </p>            
          </td>
          <td>
            <strong>{% trans 'City/Country' %}</strong>
            <p id="city"> </p>            
          </td>            
        </tr>
        <tr>
          <td colspan="3">
            <strong>{% trans 'Activities' %}</strong>
            <p id="activities"> </p>            
          </td>            
        </tr>
        <tr>
          <td colspan="2">
            <strong>{% trans 'Additional information' %}</strong>
            <p id="additional_info"> </p>            
          </td>            
          <td id="td_id_relation">
            <strong>{% trans 'Organization relationship' %}</strong>
            <p id="relation"> </p>            
          </td>            
        </tr>
        <tr id="tr_id_gallery">
          <td colspan="3">
            <strong>{% trans 'Pictures' %}</strong>
            <div style="margin-top:5px" id="gallery" data-dismiss="modal" data-toggle="modal-gallery" data-target="#modal-gallery">
            </div>            
          </td>
        </tr>          
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button id="btn_pictures" class="btn btn-success" data-dismiss="modal"
     data-target="#modal-gallery" data-selector="#gallery a[rel=gallery]">
      {% trans "Pictures" %}
    </button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
  </div>
</div>