<script type="text/javascript">

  var ALL          = {{ ALL }};
  var MONK         = {{ MONK }};
  var LAYPERSON    = {{ LAYPERSON }};

  function show_info_modal(location_id) {
    $.post("/visit_location/", { location_id: location_id, toggle:false });      
    $.post("/find_location_by_id/", 
      { id: location_id }, 
      function(data) {
        $('#info_modal_label').text(location_id + '. ' + data.place_name + ' (' + data.info +'/'+ data.status + ')');
        $('#contact_name').text(data.first_name + " " + data.last_name);
        $('#email').text(data.email);
        $('#phone_number').text(data.phone_number);
        $('#address').text(data.address);
        $('#city').text(data.city + ", " + data.country);
        $('#activities').text(data.activities);
        $('#additional_info').text(data.additional_info);    
        $('#approved').text(data.approved);            
        if (data.relation == '') {
          $('#td_id_relation').hide();
        } else {
          $('#relation').text(data.relation);
        }
        if (data.has_picture) {
          $('#btn_pictures').show();
          $('#tr_id_gallery').show();
        } else {
          $('#btn_pictures').hide();
          $('#tr_id_gallery').hide();
        }
        
        var gallery = $('#gallery');
        gallery.empty();
        
        $.each(data.pictures, function(index, picture) {
          $('<a rel="gallery"/>')
            .append($('<img>')
              .prop('src', picture[1])
              .prop('class', 'thumbnail')
              .css({'display':'inline', 'width':'auto', 'height': '50px'}))
            .prop('href', picture[0])
            .prop('title', data.place_name + ", " +data.city)
            .appendTo(gallery)
            .click(function(e) {
              $.post("/view_count/", { location_id: location_id });
            });
        });
        
        $('#info_modal').modal({backdrop:true, keyboard:true});
      }
    );
  }

  function resize_containers() {
    var gmap = $('div.map');            
    var width = $('#nav_bar').is(':visible') ? $('#map_container').width() : $('.row-fluid').width();        
    var height = $('#map_container').height();
    var gap = $('#footer').position().top - ($('#map_container').position().top + height);
    height += gap - 30;
    
    gmap.width(width);        
    $('div.map>div').width(width);        
    
    // set maximum height
    height = height > 600 ? 600 : height;        

    gmap.height(height);        
    $('div.map>div').height(height);
  }

  function resize_map() {
    resize_containers();
    if ($('#map_container')) {
      angular.element($('#map_container').scope().$apply(function(scope) {
        google.maps.event.trigger(scope.myMap, 'resize');
      }));
    }        
  }

  $(document).ready(function() {
    $('#back-top').attr('class', 'hidden');
    $.waypoints.settings.scrollThrottle = 30;
    $('div.map').waypoint(function(e, direction) {
      $(this).toggleClass('sticky', direction == "down"); 
      $('#back-top').toggleClass('hidden', direction == "up");         
      e.stopPropagation();
    });
            
    $("a.location").click(function(event) {
      event.preventDefault();
    });        

    resize_containers();

    $(window).resize(function() {
      resize_map();
    });      
    
    $('div.nav-header>a').popover({html: true});
              
    $('#btn_pictures').button().click(function () {
      var options = $(this).data(),
          modal = $(options.target),
          data = modal.data('modal');
      if (data) {
          $.extend(data.options, options);
      } else {
          options = $.extend(modal.data(), options);
      }
      modal.modal(options);
    });        
  });
    
  function move_to(lat, lng) {
    if ($('#map_container')) {
      angular.element($('#map_container').scope().$apply(function(scope) {
        var point = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
        scope.myMap.setZoom(16);
        scope.myMap.panTo(point);        
      }));
    }    
  }
          
  function nav_click_event(nav_id) {    
    if (nav_id > 0) {
      var a = $('a#'+nav_id);
      move_to(a.attr('lat'), a.attr('lng'));
      if (a.parent().hasClass('active')) {
        show_info_modal(a.attr('id'));
      } else {
        $('ul.nav-content>li.active').toggleClass('active');
        a.parent().toggleClass('active');
      }
    }
  }    
  
  function MapCtrl($scope, Marker, Nav) {
    $scope.myMarkers = [];
    $scope.navs = [];
    $scope.loaded = false;
    $scope.show_monk_pressed = 'active';
    $scope.show_layperson_pressed = 'active';
    $scope.display = 0;
    
    $scope.mapOptions = {
      center: new google.maps.LatLng(14.01012, 100.82302),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.{{map_type|upper}}
    };
    
    $scope.search = function (item){
      if (!$scope.query || item.id == 0 || 
            item.country.toLowerCase().indexOf($scope.query.toLowerCase()) != -1 ||
            item.name.toLowerCase().indexOf($scope.query.toLowerCase()) != -1) {
        return true;
      }
      return false;
    };    
    
    $scope.reload_data = function(display) {
      for (var i=0; i<$scope.myMarkers.length; ++i) {
        $scope.myMarkers[i].setMap(null);
      }
      $scope.myMarkers = [];      
      if (display == (LAYPERSON|MONK)) {
        $scope.display = display;
      } else if (display == MONK || display == LAYPERSON) {
        $scope.display ^= display;
      }
      
      if ($scope.display == 0) {
        $scope.display = (display == MONK) ? LAYPERSON : MONK;
      }

      $scope.show_monk_pressed = (($scope.display & MONK) == MONK) ? 'active': '';
      $scope.show_layperson_pressed = (($scope.display & LAYPERSON) == LAYPERSON) ? 'active': '';
      
      Marker.query({display:$scope.display}, function(markers) {
        for (var i=0; i < markers.length; ++i) {
          var icon = new google.maps.MarkerImage(
            "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + markers[i].color,
            new google.maps.Size(21, 34), new google.maps.Point(0,0), new google.maps.Point(10, 34));
          var shadow = new google.maps.MarkerImage(
            "http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
            new google.maps.Size(40, 37), new google.maps.Point(0, 0), new google.maps.Point(12, 35));
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(markers[i].latitude, markers[i].longitude), 
            map: $scope.myMap,
            icon: icon,
            shadow: shadow
          });                    
          marker.location_id = markers[i].id;
          marker.content = markers[i].content;
          $scope.myMarkers.push(marker);
        }
      });    
      
      Nav.query({display:$scope.display}, function(navs) {
        $scope.total_location = 0;
        $scope.total_country = 0;
        for (var i=0; i<navs.length; ++i) {
          $scope.total_country += navs[i].locations.length ? 1 : 0;
          $scope.total_location += navs[i].locations.length;
        }
        $scope.navs = navs;
      });      
    };
    
    $scope.init = function() {          
      if (!$scope.loaded) {
        $scope.reload_data(LAYPERSON|MONK);
        $scope.loaded = true;
      }      		
    };

    $scope.show_dialog_info = function(marker) {      
      show_info_modal(marker.location_id);
    };
    
    $scope.show_window_info = function(marker) {          
      $scope.currentContent = marker.content;
      $scope.myInfoWindow.open($scope.myMap, marker);
    };
    
    $scope.dismiss_window_info = function(marker) {
      $scope.myInfoWindow.close();          
    }; 
  }
        
</script>