<script type="text/javascript">

  var ALL          = {{ ALL }};
  var MONK         = {{ MONK }};
  var LAYPERSON    = {{ LAYPERSON }};

  function show_info_modal(location_id) {
    $.post("/visit_location/", { location_id: location_id, toggle:false });      
    $.post("/find_location_by_id/", 
      { id: location_id }, 
      function(data) {
        $('#info_modal_label').text(location_id + '. ' + data.place_name + ' (' + data.info +'/'+ data.status + ')');
        $('#contact_name').text(data.first_name + " " + data.last_name);
        $('#email').text(data.email);
        $('#phone_number').text(data.phone_number);
        $('#address').text(data.address);
        $('#city').text(data.city + ", " + data.country);
        $('#activities').text(data.activities);
        $('#additional_info').text(data.additional_info);    
        $('#approved').text(data.approved);            
        if (data.relation == '') {
          $('#td_id_relation').hide();
        } else {
          $('#relation').text(data.relation);
        }
        if (data.has_picture) {
          $('#btn_pictures').show();
          $('#tr_id_gallery').show();
        } else {
          $('#btn_pictures').hide();
          $('#tr_id_gallery').hide();
        }
        
        var gallery = $('#gallery');
        gallery.empty();
        
        $.each(data.pictures, function(index, picture) {
          $('<a rel="gallery"/>')
            .append($('<img>')
              .prop('src', picture[1])
              .prop('class', 'thumbnail')
              .css({'display':'inline', 'width':'auto', 'height': '50px'}))
            .prop('href', picture[0])
            .prop('title', data.place_name + ", " +data.city)
            .appendTo(gallery)
            .click(function(e) {
              $.post("/view_count/", { location_id: location_id });
            });
        });
        
        $('#info_modal').modal({backdrop:true, keyboard:true});
      }
    );
  }

  function resize_containers() {
    var gmap = $('div.map');            
    var width = $('#nav_bar').is(':visible') ? $('#map_container').width() : $('.row-fluid').width();        
    var height = $('#map_container').height();
    var gap = $('#footer').position().top - ($('#map_container').position().top + height);
    height += gap - 30;
    
    gmap.width(width);        
    $('div.map>div').width(width);        
    
    // set maximum height
    height = height > 600 ? 600 : height;        

    gmap.height(height);        
    $('div.map>div').height(height);
  }

  function resize_map() {
    resize_containers();
    if ($('#map_container')) {
      angular.element($('#map_container').scope().$apply(function(scope) {
        google.maps.event.trigger(scope.myMap, 'resize');
      }));
    }        
  }

  $(document).ready(function() {
    $('#back-top').attr('class', 'hidden');
    $.waypoints.settings.scrollThrottle = 30;
    $('div.gmap').waypoint(function(e, direction) {
      $(this).toggleClass('sticky', direction == "down"); 
      $('#back-top').toggleClass('hidden', direction == "up");         
      e.stopPropagation();
    });
            
    $("a.location").click(function(event) {
      event.preventDefault();
    });        

    resize_containers();

    $(window).resize(function() {
      resize_map();
    });      
    
    $('li.nav-header>a').popover({html: true});
              
    $('#btn_pictures').button().click(function () {
      var options = $(this).data(),
          modal = $(options.target),
          data = modal.data('modal');
      if (data) {
          $.extend(data.options, options);
      } else {
          options = $.extend(modal.data(), options);
      }
      modal.modal(options);
    });
    
    $('#display_menu>li>a').click(function(event) {
      var menu = $(this).parent();
      
      if (menu.attr('class') == '' 
        || (menu.attr('class') == 'active' && another_checked(menu))) {
        menu.toggleClass('active');
        set_display();
      } 
      else if (menu.attr('class') == 'active' && !another_checked(menu)) {
        menu.toggleClass('active');
        check_another(menu);
        set_display();
      }
                
    });
    
    var display = parseInt({{ display }});
    if (display != ALL && display != MONK && display != LAYPERSON) {
      display = ALL;
    }
    
    if (display == ALL) {
      $('#show_monk').attr('class', 'active');
      $('#show_layperson').attr('class', 'active');
    } else {
      if ((display & MONK) == MONK) {
        console.log(display & MONK);
        $('#show_monk').attr('class', 'active');
      }
      if ((display & LAYPERSON) == LAYPERSON) {
        console.log(display & LAYPERSON);
        $('#show_layperson').attr('class', 'active');
      }
    }        
  });
  
  function another_checked(menu) {
    if (menu.attr('id') == 'show_monk') {
      return $('#show_layperson').attr('class') == 'active';
    }
    if (menu.attr('id') == 'show_layperson') {
      return $('#show_monk').attr('class') == 'active';
    }        
  }
  
  function check_another(menu) {
    if (menu.attr('id') == 'show_monk') {
      $('#show_layperson').attr('class', 'active');
    }
    if (menu.attr('id') == 'show_layperson') {
      $('#show_monk').attr('class', 'active');
    }       
  }
  
  function move_to(lat, lng) {
    if ($('#map_container')) {
      angular.element($('#map_container').scope().$apply(function(scope) {
        var point = new google.maps.LatLng(parseFloat(lat), parseFloat(lng));
        scope.myMap.setZoom(16);
        scope.myMap.panTo(point);        
      }));
    }    
  }
        
  function set_display() {
    var display = ALL;
    if ($('#show_monk').attr('class') == 'active') {
      display |= MONK;
    }
    if ($('#show_layperson').attr('class') == 'active') {
      display |= LAYPERSON;
    }        
          
    $.post("/set_display/", {"display": display}, function(data) {
      location.reload();
    });
  }
  
  function nav_click_event(nav_id) {    
    if (nav_id > 0) {
      var a = $('a#'+nav_id);
      move_to(a.attr('lat'), a.attr('lng'));
      if (a.parent().hasClass('active')) {
        show_info_modal(a.attr('id'));
      } else {            
        $('li.active').toggleClass('active');
        a.parent().toggleClass('active');
      }
    }
  }    
  
  function NavCtrl($scope) {      
    $scope.search = function (item){    
      if (!$scope.query || item.id == 0 || 
            item.country.toLowerCase().indexOf($scope.query.toLowerCase()) != -1 ||
            item.name.toLowerCase().indexOf($scope.query.toLowerCase()) != -1) {
        return true;
      }
      return false;
    };
  }
  
  function MapCtrl($scope, Marker) {
    $scope.myMarkers = [];
    $scope.loaded = false;
    
    $scope.mapOptions = {
      center: new google.maps.LatLng(14.01012, 100.82302),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.{{map_type|upper}}
    };
    
    $scope.init = function() {          
      if (!$scope.loaded) {
        Marker.query({}, function(markers) {
          for (var i=0; i < markers.length; ++i) {
            var marker = new google.maps.Marker({
              map: $scope.myMap,
              position: new google.maps.LatLng(markers[i]['latitude'], markers[i]['longitude'])
            });
            marker.location_id = markers[i]['id'];
            marker.content = markers[i]['content'];
            $scope.myMarkers.push(marker);
          }
        });            
        $scope.loaded = true;
      }      		
    };

    $scope.show_dialog_info = function(marker) {      
      show_info_modal(marker.location_id);
    };
    
    $scope.show_window_info = function(marker) {          
      $scope.currentContent = marker.content;
      $scope.myInfoWindow.open($scope.myMap, marker);
    };
    
    $scope.dismiss_window_info = function(marker) {
      $scope.myInfoWindow.close();          
    }; 
  }
        
</script>