{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% block title %}{% trans "Members" %}{% endblock %}
{% block head %}{% trans "Members" %}{% endblock %}
{% block content %}

<style type="text/css">
  img.img-rounded {
    width:50px;
    height:auto;
  }
</style>

<script type="text/javascript"> 
  $(document).ready(function() {
    $('tbody').tooltip({
      selector: "a[rel=tooltip]"
    });
          
    $("a[rel=popover]")
      .popover({html:true})
      .click(function(e) {
        e.preventDefault()
      });          
          
    $('.pictures').button().click(function () {
      var options = $(this).data(),
          modal = $(options.target),
          data = modal.data('modal');
      if (data) {
          $.extend(data.options, options);
      } else {
          options = $.extend(modal.data(), options);
      }
      modal.modal(options);
    });
    
    $('#id_country').change(function () {
      if ($("#id_country option:selected").attr('value') == 'TH') {
        $('#id_span_region').show();
      } else {
        $('#id_span_region').hide();
        $('#id_region > option').removeAttr('selected');
      }
    });    
  });
  
  function visit(location_id) {
    $.post("/visit_location/", 
      { location_id: location_id, toggle:true },
      function(data) {
        if(data.success==0) {
          var btn = $('button#'+location_id);      
          btn.toggleClass('btn-info');
          btn.toggleClass('btn-success');
          btn.children().toggleClass('hidden');
          var span = $('span#visitors_'+location_id);
          if (btn.hasClass('btn-success')) {
            span.text(span.text()-(-1));
          } else {
            span.text(span.text()-1);
          }
          $('a#location_'+location_id).attr('data-content', data.visitors);
          var div_content = $('a#location_'+location_id).next().find('.popover-content');
          if (div_content.length) {
            div_content.html(data.visitors);
          }
        }        
      }
    );
  }
  
</script>

<form method="GET" action="./">
  <span class="input-prepend" style="margin-right:15px;">
    <span class="add-on">{% trans 'Country' %}</span>
    <select id="id_country" class="span2" name="country">
      <option value="ALL">{% trans 'All' %}</option>
      {% for value, name in countries %}
        <option {% if value == country %}selected{% endif %} value="{{value}}">{{name}}</option>
      {% endfor %}
    </select>
  </span>

  <span id="id_span_region" class="input-prepend" style="margin-right:15px;{% if country != 'TH' %}display:none;{% endif %}">
    <span class="add-on">{% trans 'Region' %}</span>
    <select id="id_region" class="span2" name="region">
      <option value="ALL">{% trans 'All' %}</option>
      {% for name in regions %}
        <option {% if name == region %}selected{% endif %} value="{{name}}">{{name}}</option>
      {% endfor %}
    </select>
  </span>  

  <label class="checkbox inline">
    <input {{info|yesno:"checked,"}} type="checkbox" name="info" value="true">
    {% trans 'Info' %}
  </label>
  <label class="checkbox inline">
    <input {{pictures|yesno:"checked,"}} type="checkbox" name="pictures" value="true">
    {% trans 'Pictures' %}
  </label>
  <button style="margin-left:10px;" type="submit" class="btn btn-primary">{% trans 'Search'%}</button>
</form>

{% include "members_pagination.html" %}
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>{% trans 'Name' %}</th> 
      <th>{% trans 'Phone' %}</th>
      <th>{% trans 'Place name' %}</th>
      <th>{% trans 'Address' %}</th>
      <th>{% trans 'Organization' %}</th>
      <th>{% trans 'City/Country' %}</th>
      <th>{% trans 'Info' %}</th>
      <th>{% trans 'Pictures' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for location in locations %}
      <tr>
        <td>
          <div>
          {% if not location.hide_email %}          
            <a rel="tooltip" data-placement="bottom" 
              data-original-title="{{location.user.email}}"
              href="mailto:{{location.user.email}}">
              {{ location.user.first_name }} {{ location.user.last_name }}
            </a>
          {% else %}
            {{ location.user.first_name }} {{ location.user.last_name }}
          {% endif %}
          </div>
          <br/>
          <div>{{location.status}}{%if location.relation %}/{{location.relation}}{%endif%}</div>
        </td>
        <td>
          {% if location.hide_phone_number %}
            -
          {% else %}
            {{ location.phone_number }}
          {% endif %}
        </td>
        <td>
          <div>{{ location.place_name }}</div>
          {{location.activities_list|yesno:"<br/>,"|safe}}
          <p id="additional_info">{{location.activities_list}}</p>
        </td>
        <td>
         {% if location.hide_address %}
            -
          {% else %}
            {{ location.address }}
          {% endif %}
        </td>
        <td>
          {% if location.organization %}
            <img src="{{STATIC_URL}}admin/img/icon-yes.gif" alt="True">
          {% else %}
            <img src="{{STATIC_URL}}admin/img/icon-no.gif" alt="False">
          {% endif %}          
        </td>
        <td> {{ location.city }}, {% trans location.country.name %} </td>
        <td>
          <div class="pull-right">
            <button id="{{location.id}}" style="margin:2px;" onClick="visit({{location.id}});"
              class="btn btn-mini {% if user.id in location.visitor_id_list %}btn-success{% else %}btn-info{% endif %}">
              <span {% if not user.id in location.visitor_id_list %}class="hidden"{% endif %}>{% trans 'visited' %}</span>
              <span {% if user.id in location.visitor_id_list %}class="hidden"{% endif %}>{% trans 'visit' %}</span>
            </button>
          </div>
          <div><span class="text-info">{%trans 'Visitors' %}</span> : 
            <a id="location_{{location.id}}" href="#" rel="popover" data-placement="bottom" 
              data-content="{{location.visitor_html_name_list}}" 
              data-original-title="{% trans 'Visitors' %}">
              <span id="visitors_{{location.id}}">{{location.visitors.count}}</span> {% if location.visitors.count > 1 %}{% trans 'persons' %}{% else %}{% trans 'person' %}{% endif %}
            </a>
          </div>
          <br/>          
          <p id="additional_info">{{ location.additional_info.strip }}</p>
          <div>{{location.user_skills}}</div>          
        </td>
        <td style="vertical-align:middle;">
          {% if location.pictures.all.count %}
            <div id="gallery-{{forloop.counter}}" data-dismiss="modal" 
              data-toggle="modal-gallery" data-target="#modal-gallery">
            {% for picture in location.pictures.all %}
              <div>
                <a rel="gallery" href="{{picture.file.url}}" title="{{location.place_name}}">
                  <img class="img-rounded" src="http://www.buddha-net.com/{{picture.thumbnail.url}}" />
                </a>
              </div>
            {% endfor %}
            </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}      
  </tbody>
</table>
{% include "members_pagination.html" %}

<div id="modal-gallery" class="modal modal-gallery hide fade modal-fullscreen" tabindex="-1" aria-hidden="true">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>

<script src="{{ STATIC_URL }}file_upload/js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-image-gallery.js"></script>

{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}